*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}

.coffee-section{
    margin-top: 150px;
    background-color: #efc52c;
    display: flex;
    justify-content: center;
}
.coffee-section .container{
    max-width: 1280px;
    width: 100%;
}
.coffee-section .container .flex{
    display: flex;
    gap: 30px;
}
.coffee-section .container .image-box img{
    width: 400px;
    height: 500px;
    margin-top: -100px;
    margin-bottom: 100px;
}
.coffee-section .container .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coffee-section .container .content .inner{
    text-align: center;
}
.coffee-section .container .content .inner h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}
.coffee-section .container .content .inner p{
    font-size: 20px;
    margin-bottom: 20px;
}
.coffee-section .container .content .inner .credit{
    font-size: 18px;
    margin-bottom: 20px;
}
.coffee-section .container .content .inner .credit a{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.coffee-section .container .content .inner button{
    padding: 8px 18px;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 16px;
}
@media screen and (max-width: 1390px) {
    .coffee-section .container{
        max-width: 1000px;
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .coffee-section .container{
        max-width: 800px;
        width: 100%;
    }
    .coffee-section .container .content{
        align-items: start;
        margin-top: 20px;
    }
}
@media screen and (max-width: 800px) {
    .coffee-section .container .flex{
        flex-wrap: wrap;
        justify-content: center;
    }
    .coffee-section .container .image-box img{
        margin-bottom: 20px;
        width: 300px;
        height: 350px;
    }
    .coffee-section .container .content .inner h1{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .coffee-section .container .content{
        padding: 0 20px 60px;
    }
    .coffee-section .container .content .inner p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .coffee-section .container .content .inner .credit{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .coffee-section .container .content .inner .credit a{
        font-size: 14px;
        color: #000;
        font-weight: 600;
    }
}